---
layout: layout.liquid
title: Lab 7.5 Assignment
---

<div class="container m-auto" x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/1', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage" />
</div>

<div class="container pl-12 m-auto" x-data="{description: $fetchjson('https://dummyjson.com/products/1', jsonItem='description')}">
    <h1 class="text-xl text-indigo-800 font-bold" x-text="description"></h1>
</div>